.card-header {
  padding: 0.35rem 1.25rem;
}

.card-title {
  margin-bottom: 0;
}

.card-body {
  padding: 1rem 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clear-button {
  border-radius: 2.75rem;
  padding: 0.2em;
  color: #000;
}

.clear-button > span {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.remove-all {
  margin-top: 15px;
  margin-bottom: 15px;
}
