<div class="card mb-3">
  <div class="card-header">
    Ajouter une prévision météo
  </div>
  <div class="card-body">
    <h5 class="card-title">Entrer un code postal</h5>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-group d-flex align-items-center">
        <!-- <input type="number" placeholder=". . ."
          id="zipcode-input"
          name="zipcode-input"
          #zipCode="ngModel"
          [(ngModel)]="zipCodeValue"
          required
          class="form-control"> -->
        <input type="text" (keypress)="allowOnlyNumbers($event)"
          placeholder=". . ."
          id="zipcode-input"
          name="zipcode-input"
          #zipCode="ngModel"
          [(ngModel)]="zipCodeValue"
          required
          class="form-control">
        <button type="button" class="btn btn-primary bi bi-plus-lg"
          title="Ajouter"
          id="add-zipcode-button"
          [disabled]="!f.form.valid"
          (click)="addLocationZipCode()">
        </button>
        <button type="button" aria-label="Clear"
          title="Effacer"
          class="btn btn-outline-secondary bi bi-eraser-fill btn-close ml-2"
          [disabled]="zipCodeValue.length === 0"
          (click)="clearLocationInput()">
        </button>
      </div>
    </form>
  </div>
</div>

<div class="d-flex p-2 bd-highlight justify-content-center remove-all">
  <button type="button" class="btn btn-warning"
    (click)="removeAllLocations()">
    Supprimer toutes les prévisions
  </button>
</div>

<locations *ngIf="allZipCodes.length"
  [zipCodes]="allZipCodes"
  (locationAdded)="onLocationAdded($event)"
  (locationRemoved)="onLocationRemoved($event)">
</locations>
