<div *ngIf="location" class="d-flex justify-content-between align-items-stretch">
  <div>
    <div class="font-weight-bold mb-2">
      <span>{{ location.name }}</span> &nbsp; <span>({{ location.zipCode }})</span>
    </div>
    <div>
      <div *ngIf="location.temp">
        <span>Température : {{ location.temp }} °C</span>
        <span *ngIf="location.tempMin && location.tempMax" class="font-italic ml-3 font-size-6">
          ( min: {{location.tempMin}} °C -- max:  {{location.tempMax}} °C )
        </span>
      </div>
      <div *ngIf="location.feelsLike">ressentie : {{ location.feelsLike }} °C</div>
    </div>
    <div *ngIf="location.weatherDescription">
      Conditions météo : {{ location.weatherDescription }}
    </div>
  </div>
  <div class="d-flex flex-direction-column icon-container ml-3">
    <div class="d-flex align-items-center">
      <weather-icon
        [iconHeight]="80"
        [weatherMain]="location.weatherMain"
        [iconId]="location.weatherIcon">
      </weather-icon>
    </div>
    <div class="d-flex flex-column justify-content-between">
      <button type="button" aria-label="Remove"
        title="Supprimer la ville"
        class="btn btn-outline-secondary btn-sm bi bi-x-lg"
        (click)="removeLocation(location.zipCode)">
      </button>
      <button type="button" aria-label="Remove"
        title="Voir les prévisions pour la semaine"
        class="btn btn-outline-secondary btn-sm bi bi-arrow-return-right"
        (click)="openLocationWeek(location)">
      </button>
    </div>
  </div>
</div>
